* {
  font-family: "Times New Roman", Times, serif;
  margin: 0px;
  padding: 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.headerInput Input {
  width: 350px;
  height: 40px;
  font-size: 16px;
  padding-left: 16px;
  margin-left: 10px;
}

.delAll {
  background-color: red;
  height: 35px;
  display: flex;
  width: 35px;
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  margin-right: 20px;
  border-radius: 5px;
}

td {
  border: none;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;

}

th {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  text-align: left;
  padding: 9px;
  border: none;
  background-color: lightgray;
}

td {
  text-align: left;
  padding: 9px;
  font-size: 18px;
}

th {
  align-items: center;
}

tr {
  border: 1px solid lightgrey;
}

.editdelBtn {
  display: flex;
  align-items: center;
}

.edit {
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 3px;
}

.editBtn {
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 3px;
  margin: 5px;
}

.deleteBtn {
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 3px;
  margin: 5px;
  color: red;
}

.btns {
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid grey;
}

table input {
  height: 25px;
}

.footerLeft {
  margin-left: 10px;
  margin-top: 15px;
}

.footerRight {
  margin-right: 10px;
  display: flex;
  margin-top: 1%;
}

.footerRight button {
  height: 30px;
  width: 30px;
  margin: 2px;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.footerRight p {
  margin-top: 10px;
}

.selected-row {
  background-color: #f0f0f0;
}
@media only screen and (max-width: 500px) {
  .headerInput Input {
    width: 300px;
  }
}

@media only screen and (max-width: 400px) {
  .headerInput Input {
    width: 250px;
  }
}